// index
//-----------------------------
//common style

// common style
html { font-family: $ff-o; }
body { background-color: #f1eee9; }
svg { width: 100%; height: auto; }
.container {
  @include container(em(1024), em(20));
}

// hide elements
// #frame-1,
// #frame-2,
#frame-3,
#frame-4,
#line-1,
#line-2,
#line-3,
#line-4,
// #tian-text-1,
// #tian-text-2,
// #tian-title,
// #tian-p,
#leaves-1,
#leaves-2,
#fruit-a path,
#fruit-b path,
#fruit-c path,
#jin-dash path,
#jin-letter1,
#jin-letter2,
#jin-letter3,
// #jin-text-1,
// #jin-text-2,
// #jin-title,
// #jin-p,
// #lan-text-1,
// #lan-text-2,
// #lan-title,
// #lan-p,
// [id^='lan-'],
[id^='zui-'],
[id^='duo-'],
[id^='yi-'],
[id^='lai-'],
[id^='chuan-']
{ opacity: 0; }

#txtContainer {
	position: absolute;
	left: 65px;
	top: 14px;
}
.txt {
	font: 36px monospace;
	position: absolute;
	color: #afafaf;
	font-weight: bold;
	left: 0px;
	top: 0;
}
