@charset "UTF-8";

// SASS Tools
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss"; 

// global setting
@import "setting/variables"; 
@import "setting/placeholders";

// frameworks
@import "../../bower_components/inuit-normalize.css/generic.normalize"; // css reset
@import "owl-carousel2"; // slidershow
// @import "animate";
// @import "fontawesome"; // icon font
@import "../../bower_components/rocket/src/scss/_rocket.scss";  // template

// individual pages
@import "common";

// media query
@import "mq";

// common style
html { font-family: $ff-o; }
body { background-color: #f1eee9; }
svg { width: 100% !important; height: auto !important; }
.container {
  // @include container(em(1200), em(20));
}
.no-inlinesvg svg { display: none; }
.nav {
  li {
    @extend %global-transition;
    position: fixed;
    top: 50%;
    margin-top: -20px;
    font-size: 40px;
    padding: .4em;
    color: #cfc0bc;
    cursor: pointer;
    &:hover { color: #9f938c; }
  }
  .next { right: 0; }
}
.pagination {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  span {
    display: inline-block;
    padding: .5em;
    cursor: pointer;
  }
}
$width: 80px;
$height: 40px;
#toggle {
  // position: fixed;
  // left: 50%;
  // top: 43%;
  // margin-left: (- $width / 2);
  // margin-top: (- $height / 2);
  @extend %global-transition;
  margin: 20px auto;
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  background-color: #dbdbdb;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 1000;
  &.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

#quote,
#title {
	// position: absolute;
	// left: 65px;
	// top: 14px;
  max-width: 50em;
  padding-top: 1em;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
#title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
.txt {
	// font: 24px monospace;
	// position: absolute;
	// color: #afafaf;
	// font-weight: bold;
	// left: 0px;
	// top: 0;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  display: inline-block;
}

// hide elements
// #frame-1,
// #frame-2,
#tian-text-1,
#tian-text-2,
#tian-title,
#tian-p,
#jin-text-1,
#jin-text-2,
#jin-title,
#jin-p,
#lan-text-1,
#lan-text-2,
#lan-title,
#lan-p,
#zui-text-1,
#zui-text-2,
#zui-title,
#zui-p,
#duo-text-1,
#duo-text-2,
#duo-title,
#duo-p,
#yi-text-1,
#yi-text-2,
#yi-title,
#yi-p,
#lai-text-1,
#lai-text-2,
#lai-title,
#lai-p,
#chuan-text-1,
#chuan-text-2,
#chuan-title,
#chuan-p,

#frame-3,
#frame-4,
#line-1,
#line-2,
#line-3,
#line-4,
#leaves-1,
#leaves-2,
#fruit-a path,
#fruit-b path,
#fruit-c path,
#jin-dash path,
#jin-letter1,
#jin-letter2,
#jin-letter3,
#duo-man-line2,
#cross-1,
#cross-3,
#sea-f,
#sea-b,
#wave-r path,
#wave-l path,
#animals path,
#ship path,
#restart,
{ opacity: 0; }


